html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#toolbar {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 18px;
  font-size: 24px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  color: #2B2B2B;
}

#content {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

#content > #panel {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

#content > #earth {
  display: inline-block;
  position: relative;
  width: 80%;
  height: 100%;
  float: right;
}